*,*::before,*::after {
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}



.mobile-container {
  width: 100%;
  max-width: 375px;
  height: 812px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #212121;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


.content-area {
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1.5rem;
  padding-bottom: 5rem;
}

.header-bg {
  background-color: #047857;

}

.btn-style {
  display: block;
  width: 100%;
  background-color: #4b5563;
  color: #ffffff;
  font-weight: 500;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.375rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease-in-out;
}

.btn-style:hover {
  background-color: #374151;
}
